spring:
  application:
    name: company-income-spend
  datasource:
    url: jdbc:postgresql://localhost:5432/company_income_spend
    username: postgres
    password: root123
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: false
        default_batch_fetch_size: 20
        jdbc:
          batch_size: 20
    show-sql: false
  jackson:
    serialization:
      write-dates-as-timestamps: false

server:
  port: 8080

jwt:
  secret: "your-super-secret-key-change-this-in-production-minimum-64-chars-long-key-for-hs512-algorithm-secure-encryption-is-critical-for-jwt-tokens-and-authentication"
  expiration: 86400000

logging:
  level:
    root: INFO
    com.construction: INFO
